body{
    background-image: url(images/sfphoto.jpg);
    background-position: center top;
    background-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    ul{
      list-style-type: none;
      margin: 0px;
      padding: 100px;
      overflow: hidden;
      background-color: transparent
    }
    li{
      float: right;
      display: inline;
    }
    li a:hover{
      background-color: rgb(207, 210, 211);
    }

      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: rgb(89, 4, 149);
        font-family: Helvetica, sans-serif;
        font-weight:lighter;
        font-size: 12pt;
        text-align: center;
        padding: 10px 40px;
        text-decoration: none;
        margin-top: 30px;
    
      }
      .logo {
        float: left;
        padding: 0%; 
        margin-left: -10%;
        margin-right: 0%;
        margin-top: -6px;
      }  
      .logo img {
        max-width: 40%;
        height: auto;
        left: 10%;
      }
      .purpose-statement {
        max-width: 550px;
    
        float: left;
        color: black;
    font-family: Helvetica, sans-serif ;
    font-size: 20pt;
font-weight: bold;
position: absolute;
bottom: 50%;
top: 20%;
left: 50%;
width: 50%;
text-align: center;
      }
      .gif{
        max-width: 100%;
      }
      footer{
        position: fixed;
        width: 100%;
        bottom: 0%;
        background-color: aliceblue;
        padding: 10px;
        color: aliceblue;
      }
      